@media only screen and (max-width: 1600px){
    /*NAV*/   
    /* .nav-item:hover .dropdown-menu {
        display: block;
    } */
 
    /* plazas y plazuelas por zonas */
    .zona{
       display: none;
    }

}

@media only screen and (max-width: 1400px){
    .btn-lg{
        font-size: 30px;
    }
 
    /*NAV*/   
   
    .nav-link{
        font-size: 15px;
        margin: 0px;
        padding:5px !important;
    }
    
    /* .nav-item:hover .dropdown-menu {
        display: block;
    } */
 
    .sociales-nav i{
        font-size: 24px;  
    }



    /*PORTAFOLIO*/
    .link {
        
        margin-left: 130px;
    }

 
    /* VIDEO */
    .iframe {
        height: 360px;
    }
  
    /* plazas y plazuelas por zonas */
    .zona{
        display: none;
    }

}

@media only screen and (max-width: 1200px){
    section {
        padding-bottom: 30px;
    }

    .btn-lg{
        font-size: 30px;
    }
    /* parques */
    .p-image{
        width: 100%;
        height: 180px !important;
    }
    /*NAV*/   
   
    .nav-link{
        font-size: 15px;
        margin: 0px;
        padding:5px !important;
    }
    
    #menu{
        margin: 0px;
    }

    /* .nav-item:hover .dropdown-menu {
        display: block;
    } */
 
    .sociales-nav i{
        font-size: 24px;  
    }

 
    /*SERVICIOS*/
    .card-title{
        font-size: 26px;
    }

     /*PARALLAX*/

    .parallax {
      margin-top: 30px;
    }


    /*PORTAFOLIO*/
    .cajas {
        width: 24.5%;
        height: 230px;
    }

    .link {
        margin-top: 30px;
        margin-left: 120px;
    }

 
    /* VIDEO */
    .iframe {
        height: 300px;
    }
  
    /* plazas y plazuelas por zonas */
    .zona{
       display: none;
    }

}

@media only screen and (max-width: 992px){
    section {
        padding-bottom: 30px;
    }
    .subtitulo{
        font-size: 30px;
    }

    .btn-lg{
        font-size: 22px;
        padding: 5px 10px;
    }
    /* imagen de portada quienes somos */
    .img-portada{
        height: 400px;
    }
    .nosotros .justificado{
        font-size: 15px;
    }
    .nosotros .texto{
        font-size: 18px;
    }
    .nosotros .titulo2{
        font-size: 25px;
    }

     /*NAV*/
     .navbar-brand {
        color: white;
        font-size: 28px;
        margin-top: -8px;
    }
    .nav-item i{
        padding-right: 10px;
    }
    .nav-link{
        font-size: 18px;
        padding: 10px 0;
    }
    .dropdown-item{
        font-size: 18px;
        padding: 7px 0;
    }
    .navbar-brand:hover {
        color: #0df077;
    }

    .navbar-toggler{
        color: #0df077;
        font-size: 30px;
        margin-top: -9px;
    }
    .navbar .navbar-collapse{
        margin: 0px !important;
        padding:15px; 
    }
  
    #menu{
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0px;
        top: 50px;
        width: 100%;
    } 
    #menu .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
 
    .sociales-nav{
        margin-top: 10px;
    }
    .sociales-nav i{
        font-size: 28px;
        padding-right: 10px;
    }


    /*SERVICIOS*/
    .services .col-sm-12{
        padding: 3px;
    }
    .card-title{
        font-size: 25px;
    }
    .card-text{
        font-size: 18px;
    }

     /*PARALLAX*/

    .parallax {
      margin-top: 30px;
    }


    /*PORTAFOLIO*/

    .list-inline li{
        margin: 0px ;
    }

    .cajas {
        width: 24.5%;
        height: 200px;
    }

    .link {
        margin-top: 40px;
        margin-left: 100px;
    }

   
    /* EQUIPO DE TRABAJO */

    .box .image{
        width: 100%;
        height: 220px !important;
    }
    .box .image img{
        width: 100%;
        height: 220px !important;
    }

    .descripcion h3 {
        font-size: 14px;
    }

    .descripcion .cargo {
        font-size: 16px;
    }

    /* VIDEO */
    .iframe {
        height: 255px;
    }
  
    /* plazas y plazuelas por zonas */
    .lista .table{
        display: none;
    }
    .zona{
        width: 100%;
        display:table !important;
        padding: 5px 0px;
        text-align: center;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 22px;
        border-radius: 10px;
        letter-spacing: 5px;
    }

    /* mision y vision */
    .mision .row{
        justify-content: center;
        text-align: center;
        
    }
    .mision .col-md-2{
        display: none;
    }
    .mision .col-md-6{
        width: 45%;
    }
}

@media only screen and (max-width: 768px){
    .subir{
        right: 7px;
        bottom: 7px;
        padding: 4px 8px;
    }
    .subir i{
        font-size: 33px;
    }
    .section-divider{
        width: 80px;
    }
    section {
        padding-bottom: 0px;
    }
    .btn-lg{
        font-size: 18px;
        padding: 5px 10px;
    }
    .titulo2, .titulos{
        font-size: 28px;
    }
    /*NAV*/
    .navbar-brand {
        color: white;
        font-size: 28px;
        margin-top: -8px;
    }
    .nav-item i{
        padding-right: 10px;
    }
    .nav-link{
        font-size: 18px;
        padding: 10px 0;
    }
    .dropdown-item{
        font-size: 18px;
        padding: 7px 0;
    }
    .navbar-brand:hover {
        color: #0df077;
    }

    .navbar-toggler{
        color: #0df077;
        font-size: 30px;
        margin-top: -9px;
    }
    .navbar .navbar-collapse{
        margin: 0px !important;
        padding:15px; 
    }
  
    #menu{
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0px;
        top: 50px;
        width: 100%;
    } 
    #menu .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
 
    .sociales-nav{
        margin-top: 10px;
    }
    .sociales-nav i{
        font-size: 28px;
        padding-right: 10px;
    }
    /* SLID FONDO DE ENCABEZADO*/

    .slid {
        width: 100%;
        height: 220px;
        margin-top: -70px;
    }

    .slid .container {
        height: 350px;
    }
    .slid h1{
        font-size: 30px;
    }

    /* SLIDE CAROUSEL*/

    .carusel {
        position: relative;
        width: 100%;
        height: 550px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .owl-carousel .item {
        width: 100%;
        height: 550px;
    }

    .carusel .caption {
        top: 55%;
    }

    .carusel .caption .title {
        font-size: 35px;
    }

    .carusel .caption .desc p {
        display: inline-block;
        font-size: 25px;
    }

    .carusel .owl-dots {
        display: inline-block;
    }

    .carusel .owl-carousel .owl-nav .owl-prev,
    .carusel .owl-carousel .owl-nav .owl-next {
       display: none;
    }

    .subtitulo{
        font-size: 28px;
    }

    .img-portada{
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
    }

    /* informacion de areas */
    .info{
        padding: 30px 0px;
    }

    /* aguas danzantes */
    .table .fs-2{
        font-size: 18px !important;
    }
    .table .fs-3{
        font-size: 18px !important;
    }
    .show .titulos{
        font-size: 18px;
    }
    .counter{
        font-size: 25px;
    }
    /*SERVICIOS*/
    .iconos {
        font-size: 35px;
    }

    .card {
        margin-bottom: 15px;
    }
    /* actividades */
    .actividades{
        margin-top: 15px;
    }

    /* contactos */
    .sociales-contacto{
        font-size: 50px;
    }

     /*PARALLAX*/

    .parallax {
        padding:120px;
        margin-top: 50px;
    }

    .contenido h1, h2 {
        font-size: 33px;
    }


    /*PORTAFOLIO*/
    .anclas ul li{
        font-size: 20px;
    }

    .cajas {
        width: 32.5%;
        height: 180px;
    }

    .link {
        margin-top: 60px;
        margin-left: 110px;
    }
    .link a{
        font-size: 16px;
        padding:8px;
    }
   
    /* EQUIPO DE TRABAJO */

    .block {
        margin-bottom: 15px;
        padding: 0 35px;

    }
    .box .image{
        width: 100%;
        height: 280px !important;
    }
    .box .image img{
        width: 100%;
        height: 280px !important;
    }

    .descripcion h3 {
        font-size: 18px;

    }

    .descripcion .cargo {
        font-size: 20px;
    }

    /* VIDEO */

    .iframe {
        width: 100% !important;
        height: 390px;
        margin-bottom: 10px;
    }
 
    /* MAPA */
    .mapa {
       margin-bottom: 15px;
       height: 450px;
    }


    /*FOOTER*/
    .logo img {
        width: 120px;
        height: 100px;
    }
    
    .logo img:hover {
        width: 120px;
        height: 100px;
    }

    .text-left{
        font-size: 18px;
        padding:0px;
    }
    
    .enlace a {
        font-size: 18px; 
        
    }
    .enlace i{
        padding-right: 10px;
    }

    .enlace p {
        margin-bottom: 5px;
    }

    .contacto {
        font-size: 16px;
    }
    .contac{
        margin-top: 15px;
    }
    .contacto p span {
        font-size: 16px;
    }
    .contacto p {
        margin-bottom: 5px;
    }

    footer .sociales {
        margin-top: 20px;
    }
    .footer .info{
        padding: 20px 10px 0px 10px !important;
    }
    .copyright{
        font-size: 16px;
    }
     
    /* BOTON DE CONTACTO */

    .b-contacto {
        font-size: 20px;
        margin-bottom: 10px;
    }

    /* LOGOS DE INSTITUCIONES*/
    .logos{
        padding: 15px 30px;
    }
    .caja{
        width: 100%;
        height: 270px;
    }

    /* imagenes de actividades */
    .galeria2{
        width: 100%;
        height: 250px;
    }
    .justificado{
        font-size: 16px;
    }

    /* plazas y plazuelas por zonas */
    .lista .table{
        display: none;
    }
    .zona{
        width: 100%;
        display:table !important;
        padding: 5px 0px;
        text-align: center;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 22px;
        border-radius: 10px;
        letter-spacing: 5px;
    }

    /* mision y vision */
    .col-md-2{
        display: none;
    }
}

@media only screen and (max-width: 576px){
    .subir{
        right: 7px;
        bottom: 7px;
        padding: 4px 8px;
    }
    .subir i{
        font-size: 22px;
    }
    .section-divider{
        width: 70px;
    }
    section {
        padding-bottom: 0px;
    }
    .btn-lg{
        font-size: 15px;
        padding: 5px 10px;
    }
    .titulo2, .titulos{
        font-size: 20px;
    }
    /*NAV*/
    .navbar-brand {
        color: white;
        font-size: 27px;
        margin-top: -8px;
    }
    .nav-item i{
        padding-right: 10px;
    }

    .navbar-brand:hover {
        color: #0df077;
    }

    .navbar-toggler{
        color: #0df077;
        font-size: 25px;
        margin-top: -9px;
    }
    .navbar .navbar-collapse{
        margin: 0px !important;
        padding:15px; 
    }
  
    #menu{
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0px;
        top: 50px;
        width: 100%;
        
    } 
    #menu .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
 
    .sociales-nav{
        margin-top: 10px;
    }
    .sociales-nav i{
        font-size: 25px;
        padding-right: 10px;
    }
    /* SLID FONDO DE ENCABEZADO*/

    .slid {
        width: 100%;
        height: 190px;
        margin-top: -70px;
    }

    .slid .container {
        height: 320px;
    }
    .slid h1{
        font-size: 22px;
    }
    .texto{
        font-size: 15px;
    }

    /* SLIDE CAROUSEL*/

    .carusel {
        position: relative;
        width: 100%;
        height: 350px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .owl-carousel .item {
        width: 100%;
        height: 350px;
    }

    .carusel .caption {
        top: 55%;
    }

    .carusel .caption .title {
        font-size: 28px;
    }

    .carusel .caption .desc p {
        display: none;
    }

    .carusel .owl-item.active .desc {
        animation: fadeInUp ease 1s 1s both;
    }

    .carusel .owl-dots {
        display: none;
    }

    .carusel .owl-carousel .owl-nav .owl-prev,
    .carusel .owl-carousel .owl-nav .owl-next {
       display: none;
    }

    .subtitulo{
        font-size: 22px;
    }

    .img-portada{
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
    }

    /* aguas danzantes */
    .table .fs-2{
        font-size: 14px !important;
    }
    .table .fs-3{
        font-size: 14px !important;
    }
    .show .titulos{
        font-size: 14px;
    }
    /*SERVICIOS*/
    .iconos {
        font-size: 30px;
    }

    .card {
        margin-bottom: 10px;
    }
    /* actividades */
    .actividades{
        margin-top: 15px;
    }

    /* contactos */
    .sociales-contacto{
        font-size: 35px;
    }
    .contactos .row h3{
        font-size: 20px; 
    }

    /* PARQUES  */

    .parques .p-box .p-image {
        width: 100%;
        height: 250px;
    }

    .parques .p-box:hover .p-image img {
        transform: scale(1, 1);
    }

    .parques .p-contenido p {
        font-size: 14px;
    }


    /*PARALLAX*/

    .parallax {
        padding:80px;
    }

    .contenido h1, h2 {
        font-size: 22px;
    }


    /*PORTAFOLIO*/
    .anclas ul li{
        font-size: 15px;
    }

    .cajas {
        width: 49%;
        height: 170px;
    }

    .link {
        margin-top: 70px;
        margin-left: 120px;
    }
    .link a{
        font-size: 12px;
        padding:7px;
    }
   
    /* EQUIPO DE TRABAJO */

    .block {
        margin-bottom: 15px;
        padding: 0 35px;

    }
    .box .image{
        width: 100%;
        height: 380px !important;
    }
    .box .image img{
        width: 100%;
        height: 380px !important;
    }

    .descripcion h3 {
        font-size: 16px;

    }

    .descripcion .cargo {
        font-size: 18px;
    }

    /* ICONOS DE INFORMACION */
    .info{
        padding: 30px !important;

    }
    .info-ico {
        font-size: 15px;
        justify-content: left !important;
        padding: 10px 0px;
    }
    .cf-icon{
      margin:0px !important;
    }
    .icon-info{
        font-size: 35px;
    }
    .cf-content{
       display: flex;
       align-items: center;
    }
    .cf-content .counter{
        padding-right: 20px !important;
        font-size: 15px;
    }
    .cf-content h2{
       font-size: 10px;
    }

    /* ubicacion */
    .ubi{
        margin-top: 22px;
    }

    /* VIDEO */

    .iframe {
        width: 100%;
        height: 295px;
        margin-bottom: 10px;
    }
 
    /* MAPA */
    .mapa {
       margin-bottom: 15px;
       height: 300px;
    }


    /*FOOTER*/
    .logo img {
        width: 120px;
        height: 100px;
    }
    
    .logo img:hover {
        width: 120px;
        height: 100px;
    }

    .text-left{
        font-size: 14px;
    }
    
    .enlace a {
        font-size: 16px; 
        
    }
    .enlace i{
        padding-right: 10px;
    }

    .enlace p {
        margin-bottom: 5px;
    }

    .contacto {
        font-size: 14px;
    }
    .contac{
        margin-top: 15px;
    }
    .contacto p span {
        font-size: 15px;
    }
    .contacto p {
        margin-bottom: 5px;
    }

    footer .sociales {
        margin-top: 20px;
    }
    .footer .info{
        padding: 20px 10px 0px 10px !important;
    }
    .copyright{
        font-size: 13px;
    }
     
    /* BOTON DE CONTACTO */

    .b-contacto {
        font-size: 16px;
        margin-bottom: 10px;
    }

    /* LOGOS DE INSTITUCIONES*/

    .logo-item{
        width: 120px !important;
        height: 70px; 
        padding: 0px 5px;
        background-size: cover;

    }
    .logo-item img {
         width: 100% !important;
         height: 100% !important;
    }

    .caja{
        width: 100%;
        height: 270px;
    }
    .galeria2{
        width: 100%;
        height: 270px;
    }

    /* plazas y plazuelas por zonas */
    .lista .table{
        display: none;
    }
    .zona{
        width: 100%;
        display:table !important;
        padding: 5px 0px;
        text-align: center;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 22px;
        border-radius: 10px;
        letter-spacing: 5px;
    }
}

@media only screen and (max-width: 479px){
    .subir{
        right: 7px;
        bottom: 7px;
        padding: 4px 8px;
    }
    .subir i{
        font-size: 22px;
    }
    .section-divider{
        width: 70px;
    }
    section {
        padding-bottom: 0px;
    }
    .btn-lg{
        font-size: 15px;
        padding: 5px 10px;
    }
    .titulo2, .titulos{
        font-size: 20px;
    }
    /*NAV*/
    .navbar-brand {
        color: white;
        font-size: 27px;
        margin-top: -8px;
    }
    .nav-item i{
        padding-right: 10px;
    }

    .navbar-brand:hover {
        color: #0df077;
    }

    .navbar-toggler{
        color: #0df077;
        font-size: 25px;
        margin-top: -9px;
    }
    .navbar .navbar-collapse{
        margin: 0px !important;
        padding:15px; 
    }
  
    #menu{
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0px;
        top: 50px;
        width: 100%;
        
    } 
    #menu .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
 
    .sociales-nav{
        margin-top: 10px;
    }
    .sociales-nav i{
        font-size: 25px;
        padding-right: 10px;
    }
    /* SLID FONDO DE ENCABEZADO*/

    .slid {
        width: 100%;
        height: 180px;
        margin-top: -70px;
    }

    .slid .container {
        height: 310px;
    }
    .slid h1{
        font-size: 22px;
    }
    .texto{
        font-size: 15px;
    }

    /* SLIDE CAROUSEL*/

    .carusel {
        position: relative;
        width: 100%;
        height: 320px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .owl-carousel .item {
        width: 100%;
        height: 320px;
    }

    .carusel .caption {
        top: 55%;
    }

    .carusel .caption .title {
        font-size: 28px;
    }

    .carusel .caption .desc p {
        display: none;
    }

    .carusel .owl-item.active .desc {
        animation: fadeInUp ease 1s 1s both;
    }

    .carusel .owl-dots {
        display: none;
    }

    .carusel .owl-carousel .owl-nav .owl-prev,
    .carusel .owl-carousel .owl-nav .owl-next {
       display: none;
    }

    .subtitulo{
        font-size: 22px;
    }

    .img-portada{
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
    }

    /* aguas danzantes */
    .table .fs-2{
        font-size: 14px !important;
    }
    .table .fs-3{
        font-size: 12px !important;
    }
    .show .titulos{
        font-size: 14px;
    }
    /*SERVICIOS*/
    .iconos {
        font-size: 30px;
    }

    .card {
        margin-bottom: 10px;
    }
    /* actividades */
    .actividades{
        margin-top: 15px;
    }

    /* contactos */
    .sociales-contacto{
        font-size: 35px;
    }
    .contactos .row h3{
        font-size: 20px; 
    }

    /* PARQUES  */

    .parques .p-box .p-image {
        width: 100%;
        height: 250px;
    }

    .parques .p-box:hover .p-image img {
        transform: scale(1, 1);
    }

    .parques .p-contenido p {
        font-size: 14px;
    }


    /*PARALLAX*/

    .parallax {
        padding:50px;
    }

    .contenido h1, h2 {
        font-size: 22px;
    }


    /*PORTAFOLIO*/
    .anclas ul li{
        font-size: 15px;
    }

    .cajas {
        width: 49%;
        height: 150px;
    }

    .link {
        margin-top: 70px;
        margin-left: 95px;
    }
    .link a{
        font-size: 12px;
        padding:7px;
    }
   
    /* EQUIPO DE TRABAJO */

    .block {
        margin-bottom: 15px;
        padding: 0 35px;

    }
    .box .image{
        width: 100%;
        height: 360px !important;
    }
    .box .image img{
        width: 100%;
        height: 360px !important;
    }

    .descripcion h3 {
        font-size: 13px;

    }

    .descripcion .cargo {
        font-size: 15px;
    }

    /* ICONOS DE INFORMACION */
    .info{
        padding: 30px !important;

    }
    .info-ico {
        font-size: 12px;
        justify-content: left !important;
        padding: 10px 0px;
    }
    .cf-icon{
      margin:0px !important;
    }
    .icon-info{
        font-size: 30px;
    }
    .cf-content{
       display: flex;
       align-items: center;
    }
    .cf-content .counter{
        padding-right: 20px !important;
        font-size: 15px;
    }
    .cf-content h2{
       font-size: 10px;
    }

    /* ubicacion */
    .ubi{
        margin-top: 22px;
    }

    /* VIDEO */

    .iframe {
        width: 100%;
        height: 260px;
        margin-bottom: 10px;
    }
 
    /* MAPA */
    .mapa {
       margin-bottom: 15px;
       height: 300px;
    }


    /*FOOTER*/
    .logo img {
        width: 120px;
        height: 100px;
    }
    
    .logo img:hover {
        width: 120px;
        height: 100px;
    }

    .text-left{
        font-size: 14px;
    }
    
    .enlace a {
        font-size: 16px; 
        
    }
    .enlace i{
        padding-right: 10px;
    }

    .enlace p {
        margin-bottom: 5px;
    }

    .contacto {
        font-size: 14px;
    }
    .contac{
        margin-top: 15px;
    }
    .contacto p span {
        font-size: 15px;
    }
    .contacto p {
        margin-bottom: 5px;
    }

    footer .sociales {
        margin-top: 20px;
    }
    .footer .info{
        padding: 20px 10px 0px 10px !important;
    }
    .copyright{
        font-size: 13px;
    }
     
    /* BOTON DE CONTACTO */

    .b-contacto {
        font-size: 15px;
        margin-bottom: 10px;
    }

    /* LOGOS DE INSTITUCIONES*/

    .logo-item{
        width: 100px !important;
        height: 60px; 
        padding: 0px 5px;
        background-size: cover;

    }
    .logo-item img {
         width: 100% !important;
         height: 100% !important;
    }

    .caja{
        width: 100%;
        height: 220px;
    }
    .galeria2{
        width: 100%;
        height: 220px;
    }

    /* plazas y plazuelas por zonas */
    .lista .table{
        display: none;
    }
    .zona{
        width: 100%;
        display:table !important;
        padding: 5px 0px;
        text-align: center;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 22px;
        border-radius: 10px;
        letter-spacing: 5px;
    }

}

@media only screen and (max-width: 360px){
    .subir{
        right: 7px;
        bottom: 7px;
        padding: 4px 8px;
    }
    .subir i{
        font-size: 22px;
    }
    .section-divider{
        width: 70px;
    }
    section {
        padding-bottom: 0px;
    }
    .btn-lg{
        font-size: 15px;
        padding: 5px 10px;
    }
    .titulo2, .titulos{
        font-size: 20px;
    }
    /*NAV*/
    .navbar-brand {
        color: white;
        font-size: 27px;
        margin-top: -8px;
    }
    .nav-item i{
        padding-right: 10px;
    }

    .navbar-brand:hover {
        color: #0df077;
    }

    .navbar-toggler{
        color: #0df077;
        font-size: 25px;
        margin-top: -9px;
    }
    .navbar .navbar-collapse{
        margin: 0px !important;
        padding:15px; 
    }
  
    #menu{
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0px;
        top: 50px;
        width: 100%;
        
    } 
    #menu .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
 
    .sociales-nav{
        margin-top: 10px;
    }
    .sociales-nav i{
        font-size: 25px;
        padding-right: 10px;
    }
    /* SLID FONDO DE ENCABEZADO*/

    .slid {
        width: 100%;
        height: 180px;
        margin-top: -70px;
    }

    .slid .container {
        height: 310px;
    }
    .slid h1{
        font-size: 22px;
    }
    .texto{
        font-size: 15px;
    }

    /* SLIDE CAROUSEL*/

    .carusel {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .owl-carousel .item {
        width: 100%;
        height: 300px;
    }

    .carusel .caption {
        top: 55%;
    }

    .carusel .caption .title {
        font-size: 28px;
    }

    .carusel .caption .desc p {
        display: none;
    }

    .carusel .owl-item.active .desc {
        animation: fadeInUp ease 1s 1s both;
    }

    .carusel .owl-dots {
        display: none;
    }

        .carusel .owl-carousel .owl-nav .owl-prev,
    .carusel .owl-carousel .owl-nav .owl-next {
       display: none;
    }

    .subtitulo{
        font-size: 22px;
    }

    .img-portada{
        width: 100%;
        height: 250px;
        margin-bottom: 15px;
    }

    /* aguas danzantes */
    .table .fs-2{
        font-size: 14px !important;
    }
    .table .fs-3{
        font-size: 10px !important;
    }
    .show .titulos{
        font-size: 14px;
    }
    /*SERVICIOS*/
    .iconos {
        font-size: 30px;
    }

    .card {
        margin-bottom: 10px;
    }
    /* actividades */
    .actividades{
        margin-top: 15px;
    }

    /* contactos */
    .sociales-contacto{
        font-size: 35px;
    }
    .contactos .row h3{
        font-size: 20px; 
    }

    /* PARQUES  */

    .parques {
        position: relative;
        margin-bottom: 40px;
        border: 1px solid #18d36e;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .parques:hover {
        transform: scale(1.1);
        font-size: 15px;
        box-shadow: 0 10px 15px 0 rgba(68, 88, 144, 0.3);
    }

    .parques .p-box {
        position: relative;
    }

    .parques .p-box .p-image {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 220px;
    }

    .parques .p-box .p-image img {
        position: relative;
        width: 100%;
        display: block;
        transform: scale(1.3, 1.3);
        transition: all 600ms ease;
    }

    .parques .p-box:hover .p-image img {
        transform: scale(1, 1);
    }

    .parques .p-box:hover {
        box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    }

    .parques .p-contenido {
        padding: 15px;
        margin-top: 10px;
    }

    .parques .p-contenido p {
        font-size: 14px;
    }


    /*PARALLAX*/

    .parallax {
        padding:50px;
    }

    .contenido h1, h2 {
        font-size: 20px;
    }


    /*PORTAFOLIO*/
    .anclas ul li{
        font-size: 15px;
    }

    .cajas {
        width: 49%;
        height: 150px;
    }

    .link {
        margin-top: 65px;
        margin-left: 65px;
    }
    .link a{
        font-size: 12px;
        padding:7px;
    }
   
    /* EQUIPO DE TRABAJO */

    .block {
        margin-bottom: 10px;
        padding: 0 35px;
    }
    .box .image{
        width: 100%;
        height: 280px !important;
    }
    .box .image img{
        width: 100%;
        height: 280px !important;
    }


    .descripcion h3 {
        font-size: 13px;

    }

    .descripcion .cargo {
        font-size: 15px;
    }

    /* ICONOS DE INFORMACION */
    .info{
        padding: 30px !important;

    }
    .info-ico {
        font-size: 12px;
        justify-content: left !important;
        padding: 10px 0px;
    }
    .cf-icon{
      margin:0px !important;
    }
    .icon-info{
        font-size: 30px;
    }
    .cf-content{
       display: flex;
       align-items: center;
    }
    .cf-content .counter{
        padding-right: 20px !important;
        font-size: 15px;
    }
    .cf-content h2{
       font-size: 10px;
    }

    /* ubicacion */
    .ubi{
        margin-top: 22px;
    }

    /* VIDEO */

    .iframe {
        width: 100%;
        height: 192px;
        margin-bottom: 10px;
    }
 
    /* MAPA */
    .mapa {
       margin-bottom: 10px;
       height: 250px;
    }


    /*FOOTER*/
    .logo img {
        width: 120px;
        height: 100px;
    }
    
    .logo img:hover {
        width: 120px;
        height: 100px;
    }

    .text-left{
        font-size: 12px;
    }
    
    .enlace a {
        font-size: 14px;    
    }

    .enlace p {
        margin-bottom: 5px;
    }

    .contacto {
        font-size: 12px;
    }
    .contac{
        margin-top: 15px;
    }
    .contacto p span {
        font-size: 14px;
    }
    .contacto p {
        margin-bottom: 5px;
    }

    footer .sociales {
        margin-top: 20px;
    }
    .footer .info{
        padding: 20px 10px 0px 10px !important;
    }
    .copyright{
        font-size: 12px;
    }
     
    /* BOTON DE CONTACTO */

    .b-contacto {
        font-size: 15px;
        margin-bottom: 10px;
    }

    /* LOGOS DE INSTITUCIONES*/

    .logos {
        padding: 10px 0px;
    }

    .logo-item{
        width: 90px !important;
        height: 60px; 
        padding: 0px 5px;
        background-size: cover;

    }
    .logo-item img {
         width: 100% !important;
         height: 100% !important;
    }

    .caja{
        width: 100%;
        height: 180px;
    }
    .galeria2{
        width: 100%;
        height: 180px;
    }

    /* plazas y plazuelas por zonas */
    .lista .table{
        display: none;
    }
    .zona{
        width: 100%;
        display:table !important;
        padding: 5px 0px;
        text-align: center;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 22px;
        border-radius: 10px;
        letter-spacing: 5px;
    }

}


